table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
tr{
    column-span: 3;
}
td{
    color: red;
    height: 50%;
}
tr :nth-child(even){
    background-color: rebeccapurple;
}